<p-toast></p-toast>
<app-header></app-header>
<div style="margin: 50px;margin-left:418px; margin-right: 390px">
  <app-typewriter [Desc]="Desc">
  </app-typewriter>
</div>
<div class="register_parent" [style]="{ marginTop: '100px' }">
  <p-card class="text-center" [style]="{'background-color': '#111827'}">
    <h3 [style]="{'background-color': '#111827','font-family': 'Playfair Display, serif', 'margin-bottom': '0px','color': 'white'}">Register</h3>
    <form [formGroup]="registerForm" (ngSubmit)="submitform()">
      <div class="m-4 form-group">
        <span class="p-float-label">
          <input
            pInputText
            id="firstN_reg"
            autocomplete="First Name"
            class="form-control"
            type="text"
            [style]="{ 'font-family': 'Anta, sans-serif', 'height': '40px', 'background': '#111827', 'width': '350px', 'color': 'white', 'font-weight': '500' }"
            name="text"
            [formControl]="firstNameFormControl"
          />
          <label class="login_label" for="firstN_reg">FirstName</label>
        </span>
        <small
          *ngIf="
            firstNameFormControl.invalid &&
            (firstNameFormControl.dirty || firstNameFormControl.touched)
          "
          class="block p-error"
        >
          <div
            *ngIf="firstNameFormControl.errors?.['required']"
            [style]="{ fontSize: '14px' }"
          >
            FirstName is Required
          </div>
          <div
            *ngIf="firstNameFormControl.errors?.['pattern']"
            [style]="{ fontSize: '14px' }"
          >
            FirstName Should start with Alphabetic
          </div>
        </small>
      </div>
      <div class="m-4 form-group">
        <span class="p-float-label">
          <input
            pInputText
            id="lastN_reg"
            class="form-control"
            autocomplete="Last Name"
            type="text"
            [style]="{ 'font-family': 'Anta, sans-serif', 'height': '40px', 'background': '#111827', 'width': '350px', 'color': 'white', 'font-weight': '500' }"
            name="text"
            [formControl]="lastNameFormControl"
          />
          <label class="login_label" for="lastN_reg">LastName</label>
        </span>
        <small
          *ngIf="
            lastNameFormControl.invalid &&
            (lastNameFormControl.dirty || lastNameFormControl.touched)
          "
          class="block p-error"
        >
          <div
            *ngIf="lastNameFormControl.errors?.['required']"
            [style]="{ fontSize: '14px' }"
          >
            LastName is Required
          </div>
          <div
            *ngIf="lastNameFormControl.errors?.['pattern']"
            [style]="{ fontSize: '14px' }"
          >
            LastName Should start with Alphabetic
          </div>
        </small>
      </div>
      <div class="m-4 form-group">
        <span class="p-float-label">
          <input
            pInputText
            id="email_reg"
            class="form-control"
            autocomplete="E-Mail"
            type="text"
            [style]="{ 'font-family': 'Anta, sans-serif', 'height': '40px', 'background': '#111827', 'width': '350px', 'color': 'white', 'font-weight': '500' }"
            name="email"
            [formControl]="emailFormControl"
          />
          <label class="login_label" for="email_reg">E-mail</label>
        </span>
        <small
          *ngIf="
            emailFormControl.invalid &&
            (emailFormControl.dirty || emailFormControl.touched)
          "
          class="block p-error"
        >
          <div
            *ngIf="emailFormControl.errors?.['required']"
            [style]="{ fontSize: '14px' }"
          >
            Email is Required
          </div>
          <div
            *ngIf="emailFormControl.errors?.['email']"
            [style]="{ fontSize: '14px' }"
          >
            Email should be valid
          </div>
        </small>
      </div>
      <div class="m-4 form-group">
        <span class="p-float-label">
          <input
            pInputText
            id="password_reg"
            type="password"
            autocomplete="Password"
            class="form-control"
            [style]="{ 'font-family': 'Anta, sans-serif', 'height': '40px', 'background': '#111827', 'width': '350px', 'color': 'white', 'font-weight': '500' }"
            [formControl]="passwordFormControl"
          />
          <label class="login_label" for="password_login">Password</label>
        </span>
        <small
          *ngIf="
            passwordFormControl.invalid &&
            (passwordFormControl.dirty || passwordFormControl.touched)
          "
          class="block p-error"
        >
          <div
            *ngIf="passwordFormControl.errors?.['required']"
            [style]="{ fontSize: '14px' }"
          >
            Password is Required
          </div>
          <div
            *ngIf="passwordFormControl.errors?.['minlength']"
            [style]="{ fontSize: '14px' }"
          >
            Atleast 6 characters are required
          </div>
        </small>
      </div>
      <div class="m-4">
        <app-button [title]="buttonTitle" [isButttonDisabled]="isDisabled"></app-button>
      </div>
    </form>
    <div class="mt-4 text-light">Not a member? <a routerLink="/login">Login</a></div>
    <marquee
      direction="left"
      [style]="{
        width: '391px',
        backgroundColor: '#f4e59a',
        borderRadius: '3px',
        marginTop:'15px'
      }"
      >!!Please Fill the Details Properly, in order to get the Register
      Button!!</marquee
    >
  </p-card>
  <p-toast></p-toast>
</div>
