span {
  display: inline-block;
}
@import url("https://fonts.googleapis.com/css2?family=Single+Day&family=Tilt+Neon&display=swap");
.p-header-text {
  font-family: "Single Day", cursive;
  font-family: "Tilt Neon", sans-serif;
}
.p-header{
    padding-top: 5px;
    padding-bottom: 1px;
}


.username{
  font-size: 28px;
  margin-left: 77px;
  font-family: "Homemade Apple", cursive;
}

