<div class="bg-dark">
  <div class="text-light">
    <div class="row m-0" style="height: 48px">
      <div class="col-3" style="height: 48px">
        <h3 style="padding-top: 6px" class="p-header-text">DropShip</h3>
      </div>
      <div class="col-8">

      </div>
      <div class="col-1">
        <button *ngIf="isUserLoggedIn" style="margin-top: 6px;padding: 4px" type="button" (click)="logOut()" class="btn btn-danger">
          Log Out
        </button>
      </div>
    </div>
  </div>
</div>
