.form__container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.home{
    background: rgb(135,5,85);
background: linear-gradient(174deg, rgba(135,5,85,1) 39%, rgba(136,136,244,1) 98%);
}
