<app-header></app-header>
<p-toast ></p-toast>
<div style="margin: 50px;margin-left:551px; margin-right: 545px">
</div>
<div class="login_parent" [style]="{'marginTop':'150px'}">
  <p-card class="text-center" [style]="{'background-color': '#111827'}">
    <h3 [style]="{'background-color': '#111827','font-family': 'Playfair Display, serif', 'margin-bottom': '0px','color': 'white'}"><u>Login</u></h3>
    <form [formGroup]="loginform" (ngSubmit)="onLogin()" >
      <div class="m-4 form-group">
        <span class="p-float-label">
          <input
            pInputText
            id="email_login"
            class="form-control"
            type="text"
            [style]="{ 'font-family': 'Anta, sans-serif', 'height': '40px', 'background': '#111827', 'width': '350px', 'color': 'white', 'font-weight': '500' }"
            name="email"
            [formControl]="emailformcontrol"
          />
          <label class="login_label" for="email_login">E-mail</label>
        </span>
        <small *ngIf="emailformcontrol.invalid && (emailformcontrol.dirty || emailformcontrol.touched)" class="block p-error">
            <div *ngIf="emailformcontrol.errors?.['required']">Email is Required</div>
            <div *ngIf="emailformcontrol.errors?.['email']">Email should be valid</div>
        </small>
      </div>
      <div class="m-4 form-group">
        <span class="p-float-label">
          <input
            pInputText
            id="password_login"
            autocomplete="Password"
            type="password"
            class="form-control"
            [style]="{ 'font-family': 'Anta, sans-serif', 'height': '40px', 'background': '#111827', 'width': '350px', 'color': 'white', 'font-weight': '500' }"
            [formControl]="passwordformcontrol"
          />
          <label class="login_label" for="password_login"
            >Password</label
          >
        </span>
        <small *ngIf="passwordformcontrol.invalid && (passwordformcontrol.dirty || passwordformcontrol.touched)" class="block p-error">
            <div *ngIf="passwordformcontrol.errors?.['required']">Password is Required</div>
            <div *ngIf="passwordformcontrol.errors?.['minLength(6)']">Password should be atleast 6 characters</div>
        </small>
      </div>
      <div class="m-4 text-center">
       <app-button [title]="titleButton"></app-button>
        <div class="mt-4 text-light">
          Not a member? <a routerLink="/register">Register</a>
        </div>
      </div>
    </form>
    <marquee  direction="left" [style]="{width: '391px',backgroundColor: '#f4e59a',borderRadius: '3px'}">!!Please Fill the Details Properly, to Sign In!!!</marquee>
  </p-card>
  <p-toast></p-toast>
</div>
