
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Homemade+Apple&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Homemade+Apple&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Homemade+Apple&family=Marhey:wght@300..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');


.p-menubar {
  padding: 0px;
  border: 0px;
  background-color: transparent;
}
.p-menubar .p-component {
  padding-bottom: -4px;
  border: 0px;
}

.p-menubar .p-menuitem-link {
  text-decoration: none !important;
}

/* .p-element {
  background: transparent;
  padding-bottom: 0px;
} */

.p-element:hover{
    background-color: #212529;
    border-radius: 3px;
}
/* .p-element{
    background-color: transparent ;
    border-radius: 3px;
} */
/* .p-element:not(focus){
    background-color: #212529;
} */

.p-menuitem-text {
  padding-top: 2px;
  padding-bottom: 1px;

  color: white;
}
.langs{
    background-color: transparent;
}
.p-menubar-root-list{
    background-color: transparent;
}
.p-menubar-root-list::not(:focus){
    background-color: #212529;
}
.p-ripple .p-element .p-menuitem-link{
    background-color: transparent;
    border-radius: 3px;
    padding-top: 0px;
    padding-bottom: 1px;
}
.p-submenu-list{
    background-color: #212529;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 0px;
}

.p-menubar-root-list:hover{
    background-color: #212529;
    border-radius: 3px;
}
.p-menuitem-link:hover {
    background-color: #212529;
    border-radius: 3px;
}
.p-menuitem-link:active{
    background-color: #212529;
    border-radius: 3px;
}
.ng-untouched{
    padding-top: 3px;
}

/* .p-inputtext{
    color: blue;
} */

/* .label{
    margin-top: -20px;
    padding: -4px;
} */


/* .p-inputtext .p-component .p-element .p-filled:active{
    color: red;
} */
/* #email_login{
    background-color: white;
}
#password_login{
    background-color: white;
}
#firstN_reg{
    background-color: white;
}
#lastN_reg{
    background-color: white;
}
#email_reg{
    background-color: white;
}
#password_reg{
    background-color: white;
}
#repassword_reg{
    background-color: white;
} */

/* s */
/* .p-ripple .p-element .p-button{
    background-color: blue;
    padding: 5px;
} */
/* .p-inputtext .p-component .p-element{
    padding: 4px;
} */
.p-element{
    height: 48px;

}
/* .p-card-body{
    padding-bottom: 0px;

} */

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: black !important; /* Change background color to black */
    color: black !important; /* Change text color to black */
}

.p-toast .p-toast-message.p-toast-message-success {
    background: #212529;
    border: solid #74fcc6;
    border-width: 0 0 0 6px;
    color: #74fcc6;

}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon, .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
    color: #1ea97c;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon, .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-success {
    color: #1ea97c;
}

.p-toast .p-toast-message.p-toast-message-error {
    background: #212529;
    border: solid #ff5757;
    border-width: 0 0 0 6px;
    color: #ff5757;
}
/* 
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    background: white;
} */

.p-dialog-header-close-icon .p-element:hover {
    background-color: white;
}

.p-dialog-header-close-icon.p-element {
    background-color: white;
}

.p-link :hover{
    background-color: white;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {

    /* background: white; */
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 500;
    background: #c1c3f4;
    
}

.p-dialog .p-dialog-header .p-dialog-header-icon .p-element{
    height: 30px;
    background: #c1c3f4;
}

.p-dialog .p-dialog-header .p-dialog-header-icon .p-link .p-element{
    height: 30px;
}


.p-dialog .p-dialog-header{
    padding-bottom: 0px;
    padding-top: 10px;
    background: #c1c3f4;
}

.p-dialog .p-dialog-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background: #c1c3f4;
}

/* .p-datatable-wrapper{
    width: 920px;
} */