<div class="card tt">
  <p-table
  dataKey="id"
    styleClass="p-datatable-gridlines"
    [columns]="cols"
    [value]="products"
    selectionMode="single" 
    [(selection)]="selectedProduct"
    (onRowSelect)="onrow($event)"
    [scrollable]="true"
    scrollHeight="220px"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} enteries"
    [rowsPerPageOptions]="[5,10,20]"
  >
    <ng-template  pTemplate="caption"> To-DO List </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="th" *ngFor="let col of columns">{{ col.header }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-columns="columns" let-product>
      <tr [pSelectableRow]="product">
        <td class="td" >{{ product.todo_id }}</td>
        <td class="td">{{ product.title }}</td>
        <td class="td">{{ product.desc }}</td>
        <td class="td">{{ product.dT }}</td>
        <td class="td">{{ product.status }}</td>
      </tr>
    </ng-template>
  </p-table>
  <app-edit-todo [visible]="showEdit"></app-edit-todo>
</div>
