.tt{
    width: 1165px;
    margin-left: 200px;
    margin-top: -50px;
    
}

.th{
        color: purple;
        background: #bb8ae2;
        padding: 6px;
    }

.td{
    color: #001c81;
    background: rgb(122, 122, 203);
    padding: 6px;
}



    